* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.header {
  width: 100%;
  height: 6em;
  margin: 1% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.underline {
  text-decoration: none;
}

.button {
  border: none;
  padding: 0.7rem 1.5rem;
  color: hsl(220, 30%, 30%);
  background-color: hsl(142, 77%, 86%);
  border-radius: 5rem;
  font-weight: 700;
  font-size: 1.1rem;
}
.color {
  color: hsl(0, 0%, 0%);
}

.button:hover {
  background-color: hsl(220, 30%, 30%);
  color: hsl(142, 77%, 86%);
}

.header-menu {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-heading {
  font-weight: 500;
  width: 10rem;
  font-size: 1.6rem;
}

.fa-bars {
  display: none;
}

.climate-section {
  height: 38em;
  width: 100%;
  background-image: url("./assets/annie-spratt-427339-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
}

.climate-content {
  font-size: 2rem;
  font-weight: 550;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.climate-box {
  width: 30em;
  height: 20em;
  padding: 2rem 3rem;
  position: relative;
  background-color: white;
}

.right-side {
  width: 20rem;
  height: 20rem;
}

.heading {
  position: absolute;
  padding: 0.8rem 2rem;
  background-color: hsl(220, 30%, 30%);
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

.issue-top {
  top: -1.5rem;
}

.quote {
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}
